pandas==1.0.5
numpy==1.17.0
regex==2020.6.8
nltk==3.5
emot==2.1
malaya==3.8.2
sklearn==0.0
json5==0.9.5
dateparser==0.7.6
gensim==3.8.3
matplotlib==3.3.1
streamlit==0.64.0
Pillow==7.2.0
spacy==2.3.2
gensim==3.8.3
urllib3==1.25.9
pickleshare==0.7.5
matplotlib==3.3.1
top2vec==1.0.10
torch==1.6.0
